{% extends 'base.html' %} 
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row g-0">
        <div class="col text-center">
            <h1 class="post-title">Edit Your Recipe!</h1>
        </div>           
    </div>
</div>
<div>
    <div class="card-body">
      {% if user.is_authenticated %}
      <form id="recipePostForm" method="post" enctype="multipart/form-data">
        {{ post_form | crispy }}
        {% csrf_token %}
        <div class="text-center">
        <button id="submitButton" type="submit"
          class="btn btn-create btn-secondary btn-lg">Update Your Recipe</button></div>
      </form>
      {% endif %}
    </div>
  </div>
  {% endblock %}