{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block content %}
<!--Displays Post Heading-->
<div class="container">
  <div class="row g-0">
    <div class="col">
      <h1 class="heading category text-center">{{ post.title }}</h1>
      <p class="content text-center">Created by: {{ post.author }} | {{ post.created_on }}</p>
    </div>
  </div>
</div>
<!--Display Post Heading Ends Here-->

<!--Display Post Content-->
<div class="container">
  <div class="row">
    <!--Image Container-->
    <div class="col card mb-4  mt-3 left top">
        <div class="card-body">
          {% for image in images %}
          {% cloudinary photo.image %}
          {% endfor %}
        </div>
    </div>
    <!--Ingredients Container-->
    <div class="col card mb-4 mt-3 left top">
          <div class="card-body">
            <p class="card-text">
              Ingredients
              {{ post.ingredients | safe }}
            </p>
          </div>
    </div>
  </div>
    <!--Method Container-->
    <div class="card mb-4 mt-3 left top">
        <div class="card-body">
            <p class="card-text">
              Method
              {{ post.content | safe }}
            </p>
        </div>
    </div>
    <!--Edit Buttons Container-->
    {% if user.is_authenticated and post.author == user %}
    <div class="card">
      <div class="card-body text-center">
          <button class="btn btn-secondary btn-post-edit" post_id="{{post.id}}" >Edit</button>
          <button class="btn btn-secondary btn-post-delete" post_id="{{post.id}}" >Delete</button>
      </div>
          {% endif %}
    </div>
</div>

<!--Display Post Content Ends Here-->  

<!-- Displaying Comment Count -->
<div class="row">
  <div class="col-12">
    <strong class="text-secondary">
      <i class="far fa-comments"></i> {{ comment_count }}
    </strong>
  </div>
  <div class="col-12">
     <hr>
  </div>
</div>
<!-- Displaying Comment Count Ends Here-->

<!--Displaying Ratings And Comments-->
<div class="container">
  <div class="row"> 
    <!-- Ratings Container-->
    <div class="col-md-4 card mb-4  mt-3 ">
      <h3>Ratings:</h3>
      <!--Create Ratings-->
      <div class="card-body" style="flex:none">
        {% if user.is_authenticated %}
        <h3>Rate this Recipe:</h3>
        <form id="ratingForm" method="post" style="margin-top: 1.3em;">
          {{ rating_form | crispy }}
          {% csrf_token %}
          <p>Rated by: {{ user.username }} </p>
          <button id="submitReviewButton" type="submit" class="btn btn-secondary">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a rating!</p>
        {% endif %}
      </div>
      <!--Display Ratings-->
      <div class="card-body">
        {% for review in reviews %}
        <div class="p-2 card">
          <p class="font-weight-bold">
            {{ review.author }} rated this recipe:</p>
          <div class="rating-star">
            <span title="{{ review.rating }}/5">
            <!-- By default the star is full else it is empty -->
                <i class=" stars fa fa-star{% if review.rating < 0.5%}-o{% endif %}" aria-hidden="true"></i>
                <i class="stars fa fa-star{% if review.rating < 1.5%}-o{% endif %}" aria-hidden="true"></i>
                <i class=" stars fa fa-star{% if review.rating < 2.5%}-o{% endif %}" aria-hidden="true"></i>
                <i class="stars fa fa-star{% if review.rating < 3.5%}-o{% endif %}" aria-hidden="true"></i>
                <i class="stars fa fa-star{% if review.rating < 4.5%}-o{% endif %}" aria-hidden="true"></i>
            </span>
            <span><strong>( {{ review.rating }}/5 )</strong></span>
        </div>
          {% if not review.approved and review.author == user %}
          <p class="approval">This rating is awaiting approval</p>
          {% endif %}
          <!-- Ratings Buttons-->
          <div class="my-2">
            {% if user.is_authenticated and review.author == user %}
            <div class="card-body text-center">
              <button class="btn btn-secondary btn-rating-edit" review_id="{{review.id}}">Edit</button>
              <button class="btn btn-secondary btn-rating-delete"review_id="{{review.id}}">Delete</button>
            </div>
            {% endif %}          
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--Ratings Container Ends Here-->

    <!--Comments Container-->
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <!--Create Comments-->
      <div class="col card mb-4 mt-3">
        <div class="card-body comment">
          {% if user.is_authenticated %}
          <h3>Leave a comment:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="commentForm" method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-secondary">Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a comment</p>
          {% endif %}
        </div>
      </div>
      <!--Displaying Comments -->
      <div class="card-body">
          {% for comment in comments %}
          <div class=" card p-2">
            <p class="font-weight-bold">
              {{ comment.author }}
              <span class="font-weight-normal">
                {{ comment.created_on }}
              </span> wrote:
            </p>
            <div id="comment{{ comment.id }}">
              {{ comment.body | linebreaks }}
            </div>
            {% if not comment.approved and comment.author == user %}
            <p class="approval">
              This comment is awaiting approval
            </p>
            {% endif %}
            <!--Comment Buttons-->
            <div class="card-body my-2 text-center">
              {% if user.is_authenticated and comment.author == user %}
              <button class="btn btn-edit btn-secondary" comment_id="{{ comment.id }}">Edit</button>
              <button class="btn btn-delete btn-secondary"comment_id="{{ comment.id }}">Delete</button>
              {% endif %}
              {% if comment.approved %}
              <button class="btn btn-reply btn-secondary text-center" comment_id="{{ comment.id }}" type="button" data-bs-toggle="collapse"
                data-bs-target="#replyButton{{ comment.id }}" aria-expanded="false">Reply</button>
              {% endif %}        
            </div>
              <!--Display Replies to Comments-->
            {% for reply in comment.replies.all %}
            <div class="p-2">
              <p class="font-weight-bold">
                {{ reply.author }}
                <span class="font-weight-normal">
                  {{ reply.created_on }}
                </span> wrote:
              </p>
              <div id="comment{{ comment.id }}">
                {{ reply.body | linebreaks }}
              </div>
              {% if not reply.approved and reply.author == user %}
              <p class="approval">
                This reply is awaiting approval
              </p>
              {% endif %}
              <!--Reply Edit Buttons-->
              {% if user.is_authenticated and reply.author == user %}
              <button class="btn btn-reply-edit btn-secondary" reply_id="{{ reply.id }}">Edit</button>
              <button class="btn btn-reply-delete btn-secondary" reply_id="{{ reply.id }}">Delete</button>
              {% endif %}
            </div>
            {% endfor %}
              <!--Create Replies-->
                <div class="card comment collapse" id="replyButton{{ comment.id }}">
                  {% if user.is_authenticated %}
                  <h3>Leave a reply:</h3>
                  <p>Posting as: {{ user.username }}</p>
                  <form class= "card-body" id="replyForm" method="post" style="margin-top: 1.3em;">
                    {{ reply_form | crispy }}
                    {% csrf_token %}
                    <input type="hidden" name="parent_id" value="{{ reply.id }}">
                    <button id="replyButton" type="submit" class="btn btn-signup btn-secondary">Reply</button>
                  </form>
                  {% else %}
                  <p>Log in to leave a reply</p>
                  {% endif %}
                </div>
              </div>
            {% endfor %}         
      </div>          
    </div>
    <!--Comments Container Ends Here-->
  </div>
</div>
<!--Display Ratings and Comments Ends Here-->





    
  <!-- Delete comment confirmation modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBodyContent">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
 
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/replies.js' %}"></script>
<script src="{% static 'js/reviews.js' %}"></script>
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %} 
             
                 
                  
                  
            