html {
    overflow-x: hidden;
}

body {
    background-color: rgb(255,229,250);
}

a {
    text-decoration: underline;
    color: inherit;
}

.bgNavbar {
    background-color: rgb(212, 209, 210);
}

.logo {
    font-family: 'Dancing Script', 'Lucida Handwriting', sans-serif;
    color: rgb(102,0,102);
    font-size: 1.6rem;
}

.userMessage {
    margin: auto;
}

.heroTextContainer {
    background-color:rgba(133, 123, 130, 0.425);
    height: max-content;
    width: max-content;
    margin: auto;
}

.heroCard {
    width: 90%;
}
.heroText {
    font-family: 'Dancing Script', 'Lucida Handwriting', sans-serif;
    color: rgb(102,0,102);
    font-size: 12vw;
}

.subtitle {
    color:rgb(34, 33, 33);
    font-family: 'Dancing Script', 'Lucida Handwriting', sans-serif;
    font-size: 2vw;
}

.heading {
    font-family: 'Annapurna SIL', 'Times New Roman', sans-serif;
    font-weight: 700;    
    color: rgb(102,0,102);
}

.heroImg {
    width: 90vw;
    height: auto;
}

.content {
    font-family: 'Annapurna SIL', 'Times New Roman', sans-serif;
    font-weight: 400;
}

.imgAbout {
    border-radius: 50%;
}

.category {
    text-decoration: none;
}

.stars {
    color: gold;
}