body {
    background-color: rgb(255,229,250);
}

.bgNavbar {
    background-color: rgb(212, 209, 210);
}

.logo {
    font-family: 'Dancing Script', 'Lucida Handwriting', sans-serif;
    color: rgb(102,0,102);
    font-size: 1.4rem;
}

.heading {
    font-family: 'Annapurna SIL', 'Times New Roman', sans-serif;
    font-weight: 700;    
    color: rgb(102,0,102);
}

.heroImg {
    width: 100vw;
    height: auto;
}

.content {
    font-family: 'Annapurna SIL', 'Times New Roman', sans-serif;
    font-weight: 400;
}

.hidden {
    display: none;
}

.category {
    text-decoration: none;
}